.products {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5rem;

  &-content {
    width: 70%;
    padding: 3rem;
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-default;
    background-color: $white;

    &-header {
      display: flex;
      justify-content: space-between;
    }
  }

  &-list {
    margin-top: 1rem;
  }

  &-add-form {
    margin-top: 2rem;
  }

}