.staff {
  // background-color: red;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  position: relative;

  height: 100%;
  width: 100%;

  &-content {
    width: 60%;
    padding: 3rem;

    border-radius: $border-radius-default;

    box-shadow: $box-shadow-default;
    
    background-color: $white;
  }

  &-add-form {
    margin-top: 2rem;
  }
}