.login {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  width: 40vw;
  height: 40vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.login-wrapper-content {
  position: relative;
  width: 50rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.login-wrapper-content-image {
  margin: 0 auto;
}
.login-wrapper-content-form {
  margin: 2rem auto;
  width: 25rem;
}
.login-wrapper-content-form input {
  width: 100%;
}
