$border-radius-default: 0.5rem !default;
$form-padding-default: .5rem;
$form-padding-big: 1rem;

$form-margin-default: .5rem;

$border-radius-small: 0.5rem;

$color-primary: #119ef3;
$color-primary-dark: #0068e5;

$font-color-primary: #545c5d;

$white: #fff;

// FORM
$form-background-primary: #f4f6f8;
$form-border-color: #edf0f3;

$background: #f9fafb;
$hover-background: #fafafa;

//box shadow
$box-shadow-default: 0 3px 3px 0 rgba(#000, 0.16);