.category {
  // background-color: red;
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
  align-items: center;

  position: relative;

  height: 100%;
  width: 100%;

  &-content {
    width: 60%;
    padding: 3rem;

    border-radius: $border-radius-default;

    box-shadow: $box-shadow-default;
    
    background-color: $white;

    &-list {
      margin-top: 1rem;
    }
  }
}